<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <a href="/">홈</a>
        <a href="/products">상품목록</a>
        <a href="/orders">주문내역</a>
    </div>
    <h2>장바구니</h2>
    <div id = 'cartlist'></div>
    <div id = 'total-price'></div>
    <button id="order-button">주문하기</button>
    <div id="message"></div>
</body>
<script>
    $(document).ready(function() {
        const userId = 1; // 예시로 사용자 ID를 1로 설정  세션을 사용해서 로그인시 사용자 아이디를 가져와야 함
        function loadCart() {
            $.ajax({
                url:`http://localhost:8000/api/cart?user_id=${userId}`,
                type: 'GET',
                success:function(cartItems){
                    const cartList = $('#cartlist');
                    cartList.empty(); // 기존 장바구니 내용 비우기
                    let totalPrice = 0; // 총 가격 초기화
                    if(cartItems.length == 0){
                       cartList.html('<p>장바구니가 비어 있습니다.</p>');
                       return
                    }

                    cartItems.forEach(item => {
                        $.ajax({
                            url:`http://localhost:8000/api/products/${item.product_id}`,
                            type: 'GET',
                            success:function(product){
                                const itemPrice = product.price * item.quantity; // 아이템 가격 계산
                                totalPrice += itemPrice; // 총 가격에 아이템 가격 추가
                                cartList.append(`
                                    <div data-cart-id="${item.id}">
                                        <h3>${product.name}</h3>
                                        <p>가격: ${product.price}원</p>
                                        <p>수량: ${item.quantity}</p>
                                        <button data-cart-id="${item.id}">수정</button>
                                        <button data-cart-id="${item.id}">삭제</button>
                                    </div>
                                `);  
                                $('#total-price').text(`총 가격: ${totalPrice}원`);                            
                            },
                            error:function(){
                                $('#message').text('상품 정보를 불러오는 중 오류가 발생했습니다.');
                            }
                        })
                    });
                    
                },
                error:function(){
                    $('#message').text('장바구니를 불러오는 중 오류가 발생했습니다.');
                }
                
            });
        }
        loadCart(); // 페이지 로드 시 장바구니 불러오기

    });

        
</script>
</html>