<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품조회</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <h2>상품 목록</h2>
    <div id="productlist"></div>
    <div id="message"></div>
</body>
<script>
    $(document).ready(function(){
        $.ajax({
            url : "http://localhost:8000/api/products",
            type : 'get',                        
            success:function(products){
                
            },
            error:function(e){
                
            }
        })


    })
</script>
</html>